* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    height: 100%;
    overflow: hidden;
}

.gameStart-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}

.gameStart-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon;
    border: none;
    cursor: pointer;
}

.gameOver-text {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    color: #fff;
    font-size: 50px;
}

.gameOver-text > button {
    padding: 0.5rem 1rem;
    color: #fff;
    background: salmon;
    border: none;
    cursor: pointer;
}

.score {
    text-align: center;
    font-size: 36px;
    margin-bottom: 2rem;
}

.main {
    display: flex;
    justify-content: center;
}

.main > .holdBox {
    margin-right: 50px;
}

.main > .queueBox {
    position: relative;
    margin-left: 50px;
}

.queueBox > .playPause {
    position: absolute;
    bottom: 0;
}


.box {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-style: solid;
    border-width: 10px 0px 10px 20px;
    border-color: transparent transparent transparent rgb(158, 116, 116);
    transition: all 100ms ease-in-out;
    pointer-events: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pause {
    border-style: double;
    border-width: 0px 0px 0px 20px;
}

.paused-text {
    text-align: center;
    margin: 20px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(220, 60, 103);
}
.playground > ul {
    border: 1px solid #333;
    width: 250px;
    margin: 0 auto;
}

.playground > ul > li {
    width: 100%;
    height: 25px;
}

.playground > ul > li > ul {
    display: flex;
}

.playground > ul > li > ul > li {
    width: 25px;
    height: 25px;
    outline: 1px solid #ccc;
}

.tree {
    background: #67c23a
}

.bar {
    background: salmon;
}

.zee {
    background: #e6a23c;
}

.elLeft {
    background: #8e44ad;
}

.elRight {
    background: #16a085;
}

.square {
    background: rgb(72, 72, 159);
}

.reverseZee {
    background: pink;
}